Workshop2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Workshop2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Workshop2/Workshop2.csproj
Workshop2/obj/Debug/Workshop2.csproj.FileListAbsolute.txt
Workshop2/obj/Debug/Workshop2.csproj.FileListAbsolute.txt